@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font:'Roboto', sans-serif;
    --dark-color: #333B40;
    --light-color: #D9D9D9;
    --purple-color: #A179F2;
    --red-color: #FF0043;
    --green-color: #80E243;
}

body {
    font-family: var(--font);
    background-color: var(--dark-color);
    color: var(--light-color);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    width: 550px;
    height: 600px;

    border: 1px solid rgba(217, 217, 217, 0.100);
    border-radius: 4px;
}

#themeBtnContainer {
    display: flex;
    justify-content: right;

    box-shadow: blanchedalmond;
}

#themeBtn {
    margin-bottom: 10px;
    width: 70px;
    height: 30px;

    background-color: transparent;
    border: 2px solid rgba(217, 217, 217, 0.700);
    border-radius: 5px;
    color: var(--light-color);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.200);
}

#themeBtn:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: 0.6s;
}

section h1 {
    padding-bottom: 47px;

    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.200);
}

#newTodoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

#newTodo {
    padding-left: 15px;
    width: 350px;
    height: 50px;

    background-color: var(--light-color);
    border-radius: 5px 0px 0px 5px;
    border: none;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.300);
    color: var(--dark-color);
    font-weight: bold;
}

#newTodoBtn {
    width: 70px;
    height: 50px;

    background-color: var(--purple-color);
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: white;
    text-shadow: 1px 1px .5px rgba(0, 0, 0, 0.20);
    font-size: 1em;
    font-weight: bold;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.300);
}

#newTodoBtn:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: 0.6s;
}

#todoListContainer {
    display: flex;
    justify-content: center;
}

#todoList {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 300px;

    background-color: var(--light-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.300);

    scrollbar-width: 1px;
}

#todoList::-webkit-scrollbar {
    width: 12px;
    border-radius: 0px 5px 5px 0px;
}

#todoList::-webkit-scrollbar-thumb {
    background-color: #333B40;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
}

.newTodo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 8px  4px 8px;
    padding: 8px;
    width: 380px;
    height: 40px;

    
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.200);
}

#doneIcon {
    color: rgba(0, 0, 0, 0.500);
    font-weight: bold;
    cursor: pointer;
}

#todoTxt {
    padding-left: 8px;
    width: 300px;
    color: var(--dark-color);
    text-align: left;
}

#deleteIcon {
    color: var(--red-color);
    cursor: pointer;
}

#doneIconClicked {
    color: var(--green-color);
    font-weight: bold;
}

#doneTxtClicked {
    padding-left: 8px;
    width: 300px;
    color: var(--dark-color);
    opacity: 50%;
    text-align: left;
    text-decoration: line-through;
}

footer p {
    margin-top: 1.5em;

    font-size: 0.8em;
    text-shadow: 1px 1px .5px rgba(0, 0, 0, 0.200);
    
}

footer p a {
    text-decoration: none;
    color: var(--light-color);
}



